@media only screen and (min-width: 522px) {
  .five-day-forecast .card {
    width: 15rem;
  }
}

/* Media queries */
@media only screen and (max-width: 521px) {
  .five-day-forecast .card {
    width: 100%;
    height: 25rem;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for autocomplete dropdown */
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

* html .ui-autocomplete {
  height: 100px;
}
